        

    <% const year = new Date() %>
    <p style="margin: 100px 0;" class="text-center">&copy; 2019 - <%= year.getFullYear() %> YelpCamp, Inc. All rights reserved | Design by Emmanuel Adebayo&trade;</p>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
</body>
</html>