<div class="row">
  <h1 style="text-align: center">Login!</h1>
  <div style="width: 30%; margin: 25px auto">
    <form action="/auth/login" method="POST">
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="username"
          placeholder="username"
          autofocus
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <input
          class="btn btn-lg btn-primary btn-block"
          type="submit"
          value="Login!"
        />
      </div>
    </form>
    <a href="/auth/forgot">Forgot password?</a>
  </div>
</div>
