<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <h1 class="text-center">fullName</h1>
                <img src="/uploads/users/avatar" alt="fullName" title="fullName">
                <img src="gravatar" alt="fullName" title="fullName">
            </div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aut itaque doloribus, 
                odio error placeat quaerat necessitatibus ipsum eveniet eaque, omnis ratione maxime quae 
                soluta dolor suscipit quasi. Vel, vitae?

                Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae aut itaque doloribus, 
                odio error placeat quaerat necessitatibus ipsum eveniet eaque, omnis ratione maxime quae 
                soluta dolor suscipit quasi. Vel, vitae?
            </div>

            <div class="col-md-8">
                <h3>fullName's Profile:</h3>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <h5>First Name:</h5>
                        <h5>Last Name:</h5>
                        <h5>Email Address:</h5>
                        <h5>Username:</h5>
                        <h5>Joined:</h5>
                        <h5>Campgrounds:</h5>
                    </div>
                    <div class="col-md-4">
                        <h5>firstName</h5>
                        <h5>lastName</h5>
                        <h5><a href="mailto:email">email</a></h5>
                        <h5>username></h5>
                        <h5>
                            <time datetime="date">date</time>
                        </h5>
                        <h5>campgrounds length</h5>
                    </div>
                </div>
                <br />

                <h3>user's fullName Campgrounds:</h3>
                <hr />
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="thumbnail text-center">
                            <img class="campground-img" src="/images/campground-1.jpg" alt="name" title="name">
                            <div class="caption">
                                <h4>Campground's Name</h4>
                            </div>
                            <p>
                                <a href="/campgrounds/slug" class="btn btn-primary">More Info</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>